meta(charset="UTF-8")
- const metaTitle = `${home ? "" : `${title} – `}Raritan Public Library`
title #{metaTitle}
meta(name="title", content=metaTitle)
meta(name="og:title", content=metaTitle)
meta(name="description", content=desc)
meta(name="og:description", content=desc)
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="robots", content=`${noindex ? "noindex" : "index"}, nofollow`)
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="date=no")
meta(name="format-detection" content="address=no")
meta(name="format-detection" content="email=no")
meta(name="og:image", content="https://i.imgur.com/7QYOJPx.png")
//- ./img/main.png
meta(name="og:image:alt", content="The logo of Raritan Public Library.")
meta(name="og:locale", content="en_US")
meta(name="og:type" content="website")
meta(name="twitter:image", content="./img/main-twit.png")
link#fav-light(rel="icon" href="./img/favicon/light.png" type="image/png")
link#fav-dark(rel="icon" href="./img/favicon/dark.png" type="image/png")
link(rel="stylesheet", href="./stylus/main.styl")
script if (/*@cc_on!@*/false || !!document.documentMode) window.location.href = '/update.html';
script(src="./js/ga.js")
script(async src='https://www.google-analytics.com/analytics.js')
script(type="module" src="./js/main.js")
//- Newsletter dates //////////////////////////////////////////////////////////
- const curYear     = 2022
- const curMonth    = 2
//- Variables /////////////////////////////////////////////////////////////////
- const arr         = n => [...Array(n).keys()];
- const extchk      = str => str.match('^http') ? true : false;
- const months      = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
- const newsShort   = `${curYear}${String(curMonth).padStart(2, 0)}`
- const newsMonth   = `${months[curMonth-1]} ${curYear}`;
//- Mixins ////////////////////////////////////////////////////////////////////
include ./_mixins.pug