//- Single-source picture
mixin picture(image, alt, c)
    picture
        source(srcset=` ./img/${image}?as=webp` type="image/webp")
        img(class=c src=`./img/${image}?as=jpeg` alt=alt type="image/jpeg")

//- Dual-source picture
mixin picture-multi(image, image2, alt, c, c2)
    picture(class=c2)
        source(class=c media="(min-width:500px)" srcset=`./img/${image}?as=webp` type="image/webp")
        source(class=c srcset=`./img/${image2}?as=webp` type="image/webp")
        source(class=c media="(min-width:500px)" srcset=`./img/${image}?as=jpeg` type="image/jpeg")
        img(class=c src=`./img/${image2}?as=jpeg` alt=alt type="image/jpeg")

//- General alerts
mixin alert(type, title, desc)
    div(class=`alert-${type}`)
        if type === "info"
            .alert-info-logo: include ../img/icons/info.svg
        else
            div(class=`alert-${type}-logo`): include ../img/icons/alert.svg
        div(class=`alert-${type}-text`)
            div(class=`alert-${type}-title`) #{title}
            div(class=`alert-${type}-desc`): block

//- Board member
mixin member(name, title)
    .member
        p.text-bold #{name}
        if title
            p.comment #{title}

//- Book Club book
mixin book(date, title, sub, img)
    .books-wrapper
        .books-text
            p.books-date #{date}
            p.books-title #{title}
            p.books-sub by #{sub}
        +picture(`books/${img}.png`, `Front cover of ${title} by ${sub}`, "books-img")

//- History page timeline entry
mixin timeline(date, desc)
    li.timeline-entry: p.timeline-title #{date}
        p.text #{desc}

//- Makers Day event
mixin makers-event(title, img, imgalt, time, location, ages, signup, desc, links)
    .snippet: .snippet-body
        +picture(`makers/${img}.png`, imgalt, "snippet-img")
        h4.h4-link.inline #{title}
        p.comment-date 
            include ../img/icons/time.svg
            span #{time} &nbsp;
            include ../img/icons/location.svg
            span #{location}
        p.comment-date 
            include ../img/icons/people.svg
            span #{ages} &nbsp;
            include ../img/icons/form.svg
            span #{signup}
        br
        p.text #{desc}
        if links
            for link in links 
                a.snippet-link(href=`${link.href}` target="_blank" rel="noopener"): div.snippet-link-inner #{link.desc}

//- Museum Passes
mixin pass(name, href, img)
    .snippet: .snippet-body
        a(href=href target="_blank" rel="noopener")
            +picture(`passes/${img}.png`, `${name} logo`, "snippet-img")
        h2.h2-sm.spacer-plus.left #{name}
        block

//- Craft showcase
mixin craft(name, img, num)
    h4 #{name}
    each i in arr(num)
        a.crafts-img(href=`./img/crafts/${img}${i+1}.jpg` target="_blank")
            +picture(`crafts/_${img}${i+1}.jpg`, name, "crafts-img-inner")

//- Resource
mixin resource(name, href, img, crunch)
    .snippet: .snippet-body
        a(href=href target="_blank" rel="noopener")
            +picture(`resources/${img}.png`, `${name} logo`, "snippet-img")
        h3(class=`spacer-plus left${crunch ? ` crunch-${crunch}`: ""}`) #{name}
        block

//- Site Map link
mixin sitemap-link(name, href)
    if extchk(href)
        li #[a.sitemap-link(href=href target="_blank" rel="noopener") #{name}]
    else
        li #[a.sitemap-link(href=href) #{name}]