//- Meta //////////////////////////////////////////////////////////////////////
meta(charset="UTF-8")
- const metaTitle = `${home ? "" : `${title} – `}Raritan Public Library`
title #{metaTitle}
meta(name="title", content=metaTitle)
meta(name="description", content=desc)
meta(name="url", content="http")
meta(name="image", content="./img/main.png")
//- OpenGraph /////////////////////////////////////////////////////////////////
meta(property="og:title", content=metaTitle)
meta(property="og:description", content=desc)
meta(property="og:url", content="http")
meta(property="og:image", content="./img/main.png")
meta(property="og:image:type" content="image/png")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="og:image:alt", content="Raritan Public Library")
meta(property="og:locale", content="en_US")
meta(property="og:type" content="website")
//- Twitter ///////////////////////////////////////////////////////////////////
meta(property="twitter:title", content=metaTitle)
meta(property="twitter:description", content=desc)
meta(property="twitter:url", content="http")
meta(property="twitter:image", content="./img/main-twit.png")
meta(property="twitter:image:alt", content="Raritan Public Library")
//- Meta Extra ////////////////////////////////////////////////////////////////
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="robots", content=`${noindex ? "noindex" : "index"}, nofollow`)
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="date=no")
meta(name="format-detection" content="address=no")
meta(name="format-detection" content="email=no")
//- Favicon, CSS, JS //////////////////////////////////////////////////////////
link#fav-light(rel="icon" href="./img/favicon/light.svg" type="image/svg+xml")
link#fav-dark(rel="icon" href="./img/favicon/dark.svg" type="image/svg+xml")
link(rel="stylesheet", href="./stylus/main.styl")
script if (/*@cc_on!@*/false || !!document.documentMode) window.location.href = '/update.html';
script(type="module" src="./js/main.js")
//- Variables /////////////////////////////////////////////////////////////////
- const arr         = n => [...Array(n).keys()];
- const extchk      = str => str.match('^http') ? true : false;
- const dotws       = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
- const months      = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
- const dateShort   = `${months[curMonth-1]}-${curYear}`;
- const dateMonth   = `${months[curMonth-1]} ${curYear}`;
//- Mixins ////////////////////////////////////////////////////////////////////
include ./mixins.pug