<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - var title = "Board of Trustees"
        - var desc = "Explore information regarding the Raritan Public Library's Board of Trustees."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center
                    picture.board-img
                        source.board-img-inner(media="(min-width:500px)" srcset="url:./img/board.png?as=webp" type="image/webp")
                        source.board-img-inner(srcset="url:./img/board.png?as=webp" type="image/webp")
                        source.board-img-inner(media="(min-width:500px)" srcset="url:./img/board.png?as=jpeg" type="image/jpeg")
                        img.board-img-inner(src="url:./img/board-480.png?as=jpeg" alt="Bust sculpture of William Shakespeare" type="image/jpeg")
                    h1.h1-sm Board of Trustees
                    p.text-bold.text-center.spacer-plus Board of Trustees meetings are held on the third Thursday of each month at 7 PM in the #[a.link(href="https://www.google.com/maps/dir//Raritan+Public+Library,+54+E+Somerset+St,+Raritan,+NJ+08869/@40.568867,-74.62909,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89c3952d67d747f5:0x1a32742982bb460d!2m2!1d-74.62909!2d40.568867!3e0" target="_blank" rel="noopener") Raritan Public Library].
                    hr.hr
                    h2.spacer-plus#members Members
                    .members
                        .member
                            p.text-bold Donald Esposito
                            p.comment President
                        .member
                            p.text-bold Jane Fidacaro
                            p.comment Vice-President
                        .member
                            p.text-bold Laura Hnasko
                            p.comment Secretary
                        .member
                            p.text-bold Adele Goetsch
                            p.comment Treasurer
                        .member
                            p.text-bold Umesh Agrawal
                        .member
                            p.text-bold Jim Foohey
                        .member
                            p.text-bold Lucy Sandler
                            p.comment Superintendent Alternate
                        .member
                            p.text-bold Zachary Bray
                            p.comment Mayor
                        .member
                            p.text-bold Mary J. Paese
                            p.comment Director
                    hr.hr
                    h2#minutes Meeting Minutes
                    p.comment-big.text-center.spacer-plus Months in grey denote Board Meetings that were not held during that month.
                    - const monthsNum = [1,2,3,4,5,6,7,8,9,10,11,12]
                    - const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                    - const years = [2020, 2019, 2018]
                    - const yearExclude = [[3,4], [], [7,11]]
                    .meeting
                        .meeting-wrapper
                            h3.meeting-h3#2021 #{2021}
                            .meeting-year
                                for m in [1,2,3,4,5]
                                    if !([].includes(m))
                                        p.text #[a.link(href=`./docs/board/2021${String(m).padStart(2, '0')}.pdf` target="_blank") #{months[m-1]}]
                                    else
                                        p.greyout #{months[m-1]}
                        for y in years
                            .meeting-wrapper
                                h3.meeting-h3(id=`${y}`) #{y}
                                .meeting-year
                                    for m in monthsNum
                                        if !(yearExclude[2020-y].includes(m))
                                            p.text #[a.link(href=`./docs/board/${y}${String(m).padStart(2, '0')}.pdf` target="_blank") #{months[m-1]}]
                                        else
                                            p.greyout #{months[m-1]}
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug