doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "Board of Trustees"
        - const desc = "Explore information regarding the Raritan Public Library's Board of Trustees."
        include ./includes/_head.pug
    body
        include ./includes/ga.pug
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center
                    +picture-multi("board.png", "board-480.png", "Bust sculpture of William Shakespeare", "board-img-inner", "board-img")
                    h1.h1-sm Board of Trustees
                    p.text-bold.text-center.spacer-plus Board of Trustees meetings are held on the third Thursday of each month at 7 PM in the #[a.link(href="https://www.google.com/maps/dir//Raritan+Public+Library,+54+E+Somerset+St,+Raritan,+NJ+08869/@40.568867,-74.62909,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89c3952d67d747f5:0x1a32742982bb460d!2m2!1d-74.62909!2d40.568867!3e0" target="_blank" rel="noopener") Raritan Public Library].
                    hr.hr
                    h2.spacer-plus#members Members
                    .members
                        +member("Donald Esposito", "President")
                        +member("Jane Fidacaro", "Vice-President")
                        +member("Laura Hnasko", "Secretary")
                        +member("Umesh Agrawal", "Treasurer")
                        +member("Adele Goetsch")
                        +member("Jim Foohey")
                        +member("Ann Marie Mead")
                        +member("Michael Pepe", "Superintendent Alternate")
                        +member("Zachary Bray", "Mayor")
                        +member("Adam Petroski", "Director")
                    hr.hr
                    h2#minutes Meeting Minutes
                    p.comment-big.text-center.spacer-plus Months in grey denote Board Meetings that were not held during that month.
                    - const years = [2023, 2022, 2021]
                    - const yearExclude = [[], [7], [8]]
                    .meeting
                        for y, i in years
                            .meeting-wrapper
                                h3.meeting-h3(id=`${y}`) #{y}
                                .meeting-year
                                    - let arrLen = i !== 0 ? 12 : 12;
                                    for m in arr(arrLen)
                                        if !(yearExclude[i].includes(m+1))
                                            p.text #[a.link(href=`./docs/board/${y}${String(m+1).padStart(2, '0')}.pdf` target="_blank") #{months[m]}]
                                        else
                                            p.greyout #{months[m]}
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug