<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const title = "Book Club"
        - const desc = "Discover the Raritan Public Library Book Club and explore the wonderful world of literature."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center
                    h2.h2-fo Book Club
                    p.text-bold.text-center.spacer-plus Book Club meetings are held on the fourth Monday of each month at 1:30 PM.
                    hr.hr
                    -
                        const booksList = [
                            {date: "March 22", title: "The Lions of Fifth Avenue", img: "lions"},
                            {date: "April 26", title: "Out of Rushmore's Shadow", sub: "The Luigi Del Bianco Story", img: "rushmore"},
                            {date: "May 24", title: "Lady in the Lake", img: "lake"},
                        ]
                    .books
                        for book in booksList
                            .books-wrapper
                                .books-text
                                    p.books-date #{book.date}
                                    p.books-title #{book.title}
                                    if typeof book.sub
                                        p.books-sub #{book.sub}
                                picture
                                    source(srcset=`url:./img/books/${book.img}.png?as=webp` type="image/webp")
                                    img.books-img(src=`./img/books/${book.img}.png?as=jpeg` alt=`Front cover of ${book.title}` type="image/jpeg")
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug