<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const home = true
        - const desc = "Discover the Raritan Public Library online to explore information on books, digital resources, media, and more."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/calendar.pug
                .center
                    include ./includes/alert.pug
                    - const imgAlt = ["The homestead of the Raritan Public Library","Bookshelves inside the Raritan Public Library","The reading room at the Raritan Public Library", "The Raritan Public Library Children's Room", "The outdoor gazebo at the Raritan Public Library"]
                    .slideshow
                        each img in arr(5)
                            picture
                                source.slideshow-img(media="(min-width:500px)" srcset=`url:./img/slideshow/${img+1}.png?as=webp` type="image/webp")
                                source.slideshow-img(srcset=`url:./img/slideshow/${img+1}.png?as=webp` type="image/webp")
                                source.slideshow-img(media="(min-width:500px)" srcset=`url:./img/slideshow/${img+1}.png?as=jpg` type="image/jpeg")
                                img.slideshow-img(src=`url:./img/slideshow/480/${img+1}.png?as=jpg` alt=`${imgAlt[img]}` type="image/jpeg")
                    h1.welcome Welcome
                    p.text.spacer-plus Welcome to the Raritan Public Library! Explore our website to find out information on our books, graphic novels, eBooks and other digital resources, magazines, videos, DVDs, recorded books, CDs, museum pass programs, and our policies. For books not available in our library we also offer an inter-library loan service. In addition, we sponsor many activities such as book clubs for adults and teens, story times for children, movie nights and many educational and entertaining programs. We encourage you to visit our library to see its rustic and historical features. The Raritan Public Library, once the Frelinghuysen Homestead, is registered as a historic site. The carpeting and window treatments are designed to match the time period in which the structure was built. We also feature a museum dedicated to the Raritan WWII hero Sgt. John Basilone. So come curl up with a good book in our cozy library. We look forward to seeing you!
                    hr.hr
                    h2 COVID-19 Information
                    p.text.spacer-plus Due to the continuation of the novel coronavirus (COVID-19) and the spread of its variants, please see our guidelines and policies outlined on our #[a.link(href="/covid-19") COVID-19 guidelines page] to maintain health and safety at the Library.
                    hr.hr
                    h2.h-nospacer Latest News
                    p.comment-big.text-center Please visit our #[a.comment-big-link(href="/news") News page] for a list of all previous news posts.
                    .news
                    p.comment.text-center.newsletter #[span.newsletter-decor &mdash;&mdash;&mdash;] Read our #[a.comment-link(href=`./docs/news/${newsFile}.pdf` target="_blank") #{newsMonth} Newsletter] #[span.newsletter-decor &mdash;&mdash;&mdash;]
                    br
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug