extends ./templates/default.pug

block meta
    - const home = true
    - const desc = "Discover the Raritan Public Library online to explore information on books, digital resources, media, and more."

block content
    -
        const heroImages = [
            {
                name: "book-club",
                alt: "By Raritan, for Raritan. Join in on engaging discussion with our two in-house book clubs.",
                aria: "Join the conversation",
                link: "https://raritanlibrary.libcal.com/calendar?cid=16676&t=d&d=0000-00-00&cal=16676&ct=59051&inc=0"
            },
            {
                name: "kids-programs",
                alt: "Something fun for everyone. After-school programs crafted for kids, Pre-K to teen.",
                aria: "See our upcoming events for children",
                link: "https://raritanlibrary.libcal.com/calendar?cid=16676&t=d&d=0000-00-00&cal=16676&audience=5308,5311,5309&inc=0"
            },
            {
                name: "chair-yoga", 
                alt: "Center and balance yourself with seated and standing asanas, breathwork and quiet mediation. Weekly chair yoga sessions, Tuesdays at 10:30AM.",
                aria: "Sign up for chair yoga",
                link: "https://raritanlibrary.libcal.com/calendars?t=d&q=Yoga&cid=-1&cal=-1&inc=0"
            },
            {
                name: "mahjong",
                alt: "Get your game on. Learn and play Mahjong with fellow Raritan neighbors, every Thursday at 1 PM.",
                aria: "Sign up for Mahjong",
                link: "https://raritanlibrary.libcal.com/calendars?t=d&q=Mahjong&cid=-1&cal=-1&inc=0"
            },
        ];
        const quickLinks = [
            {name: "libby",         alt: "Libby",                                   link: "https://libbyapp.com/library/mainlib"},
            {name: "wsj",           alt: "Wall Street Journal",                     link: "https://raritan.aspendiscovery.org/WallStreetJournal"},
            {name: "cr",            alt: "Consumer Reports",                        link: "https://search.ebscohost.com/login.aspx?authtype=ip,cpid&custid=s8971388&groupid=main&site=crcro&return=y"},
            {name: "mango",         alt: "Mango Languages",                         link: "https://connect.mangolanguages.com/raritanlibrary/start"},
            {name: "northstar",     alt: "Northstar Digital Literacy",              link: "https://www.digitalliteracyassessment.org/launch-from/16037-QJPB-raritan-public-library"},
            {name: "jerseyclicks",  alt: "JerseyClicks",                            link: "https://www.njstatelib.org/services_for_libraries/statewide_services/jerseyclicks/"},
            {name: "ptcp",          alt: "Peterson's Test & Career Prep",           link: "https://link.gale.com/apps/PTCP?u=nj_raritan_ct"},
            {name: "tbs",           alt: "Raritan Library mobile printing",         link: "https://raritanlibrary.eprintitsaas.com/public/upload"},
            //{name: "tumblebooks",   alt: "TumbleBooks",                             link: "https://www.tumblebooklibrary.com/home.aspx"},
            //{name: "hq",            alt: "HeritageQuest",                           link: "https://www.heritagequestonline.com/hqoweb/library/do/login/ipbarcode?aid=37019"},
            //{name: "rvn",           alt: "Raritan Valley News Digital Archives",    link: "https://www.digifind-it.com/raritan/views/home.php"},
        ];
    .hero
        .hero-content#hero-content
            each v, i in heroImages
                .hero-wrapper
                    if v.tracker
                        a.hero-link(href=v.link target="_blank" rel="noopener" aria-label=v.aria data-umami-event=v.tracker)
                    else 
                        a.hero-link(href=v.link target="_blank" rel="noopener" aria-label=v.aria)
                    picture.hero-slide(id=`hero-slide-${i}`)
                        source(srcset=`./img/hero/${v.name}.png?as=webp` alt=v.alt type="image/webp")
                        img(src=`./img/hero/${v.name}.png?as=jpeg` alt=v.alt type="image/jpeg")
        .hero-nav
            .hero-nav-item#hero-prev: include ./img/icons/caret-left.svg
            .hero-nav-item#hero-next: include ./img/icons/caret-right.svg
        .hero-select#hero-select
            each v, i in heroImages
                .hero-select-item(class=`${i === 0 ? 'hero-select-current' : ''}` id=`hero-dot-${i}`): include ./img/icons/dot.svg
    .content
        .content-block
            h1 Spotlight
            //-h2 Introducing: BookIt!
                .bookit-wrapper#bookit
                p Be the first to get your hands on new books! #[b BookIt!] is a special Raritan program exclusive to our patrons that puts new releases from your favorite authors on hold for you, automatically.
                .snippet-actions-altview.extend
                    .snippet-action: a.external(href="https://web.miniextensions.com/4hPhNeaQxCu79ybCIo05" target="_blank" rel="noopener" data-umami-event="bookit-homepage") Log in to BookIt!
                    .snippet-action: a(href="bookit") Learn more
            h2 Town-Wide Yard Sale
            p On #[b Saturday, May 3rd], Raritan will be holding its 6th Annual Town-Wide Yard Sale. This Spring will be a perfect time to sell unused items. Please click on the link below for a registration form and instructions. Rain date: May 17th.
            .snippet-action.extend: a(href="docs/events/YardSaleRegistration2025.pdf" target="_blank" rel="noopener") Directory
        .content-block
            h1 Upcoming Events
            #upcoming
        //-.content-block#arrivals
            h1 New &amp; Noteworthy
            #books
        .content-block
            h1 Resources
            .quicklinks#quicklinks
                each v, i in quickLinks
                    a(href=v.link target="_blank" rel="noopener")
                        picture.quicklinks-img
                            source(srcset=`./img/resources/${v.name}.png?as=webp` alt=v.alt type="image/webp")
                            img(src=`./img/resources/${v.name}.png?as=jpeg` alt=v.alt type="image/jpeg")