<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - var title = "Programs"
        - var desc = "Discover exclusive programs and upcoming events, only at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left.sidebar-craft
                    h3.hsidebar-event Adult Craft Projects
                    p.text.spacer-plus View our previous craft projects and see the great job done by our patron crafters!
                    .crafts
                        h4 Trellis Wreath Craft
                        each img in [1,2]
                            a.crafts-img(href=`url:./img/crafts/trellis${img}.jpg` target="_blank")
                                img.crafts-img-inner(src=`url:./img/crafts/trellis${img}.jpg?as=webp` alt=`Trellis Wreath Craft`)
                        h4 Peeps Bunny Wreath
                        each img in [1,2,3]
                            a.crafts-img(href=`url:./img/crafts/peeps${img}.jpg` target="_blank")
                                img.crafts-img-inner(src=`url:./img/crafts/peeps${img}.jpg?as=webp` alt=`Peeps Bunny Wreath`)
                        h4 Valentine Candleholder
                        each img in [1]
                            a.crafts-img(href=`url:./img/crafts/valentine${img}.jpg` target="_blank")
                                img.crafts-img-inner(src=`url:./img/crafts/valentine${img}.jpg?as=webp` alt=`Valentine Candleholder`)
                .center
                    h1 Programs
                    .programs
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug