<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const title = "Programs"
        - const desc = "Discover exclusive programs and upcoming events, only at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left.sidebar-craft
                    h3.hsidebar-event Adult Craft Projects
                    p.text.spacer-plus View our previous craft projects and see the great job done by our patron crafters!
                    .crafts
                        h4 Patriotic Birdhouse Wreath
                        each img in arr(3)
                            a.crafts-img(href=`url:./img/crafts/birdhouse${img+1}.jpg` target="_blank")
                                picture
                                    source.crafts-img-inner(srcset=`url:./img/crafts/_birdhouse${img+1}.jpg?as=webp` type="image/webp")
                                    img.crafts-img-inner(src=`url:./img/crafts/_birdhouse${img+1}.jpg?as=jpeg` alt=`Patriotic Birdhouse Wreath` type="image/jpeg")
                        h4 Trellis Wreath
                        each img in arr(4)
                            a.crafts-img(href=`url:./img/crafts/trellis${img+1}.jpg` target="_blank")
                                picture
                                    source.crafts-img-inner(srcset=`url:./img/crafts/_trellis${img+1}.jpg?as=webp` type="image/webp")
                                    img.crafts-img-inner(src=`url:./img/crafts/_trellis${img+1}.jpg?as=jpeg` alt=`Trellis Wreath` type="image/jpeg")
                        h4 Peeps Bunny Wreath
                        each img in arr(3)
                            a.crafts-img(href=`url:./img/crafts/peeps${img+1}.jpg` target="_blank")
                                picture
                                    source.crafts-img-inner(srcset=`url:./img/crafts/_peeps${img+1}.jpg?as=webp` type="image/webp")
                                    img.crafts-img-inner(src=`url:./img/crafts/_peeps${img+1}.jpg?as=jpeg` alt=`Peeps Bunny Wreath` type="image/jpeg")
                .center
                    h2.h2-fo Programs
                    p.text.text-center To sign up for events, please use a provided sign-up form, or call us at #[b (908) 725-0413] during our open hours.
                    hr.hr
                    .programs
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug