<!DOCTYPE html>
html(lang="en" color-mode="lite")
    head
        - const title = "Programs"
        - const desc = "Discover exclusive programs and upcoming events, only at Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left.sidebar-craft
                    h3.hsidebar-event Adult Craft Projects
                    p.text.spacer-plus View our previous craft projects and see the great job done by our patron crafters!
                    .crafts
                        h4 Rag Candle Wreath
                        each img in arr(3)
                            a.crafts-img(href=`url:./img/crafts/rag${img+1}.jpg` target="_blank")
                                picture
                                    source.crafts-img-inner(srcset=`url:./img/crafts/_rag${img+1}.jpg?as=webp` type="image/webp")
                                    img.crafts-img-inner(src=`url:./img/crafts/_rag${img+1}.jpg?as=jpeg` alt=`Rag Candle Wreath` type="image/jpeg")
                        h4 Patriotic Birdhouse Wreath
                        each img in arr(3)
                            a.crafts-img(href=`url:./img/crafts/birdhouse${img+1}.jpg` target="_blank")
                                picture
                                    source.crafts-img-inner(srcset=`url:./img/crafts/_birdhouse${img+1}.jpg?as=webp` type="image/webp")
                                    img.crafts-img-inner(src=`url:./img/crafts/_birdhouse${img+1}.jpg?as=jpeg` alt=`Patriotic Birdhouse Wreath` type="image/jpeg")
                        h4 Trellis Wreath
                        each img in arr(4)
                            a.crafts-img(href=`url:./img/crafts/trellis${img+1}.jpg` target="_blank")
                                picture
                                    source.crafts-img-inner(srcset=`url:./img/crafts/_trellis${img+1}.jpg?as=webp` type="image/webp")
                                    img.crafts-img-inner(src=`url:./img/crafts/_trellis${img+1}.jpg?as=jpeg` alt=`Trellis Wreath` type="image/jpeg")
                .center
                    .alert-critical
                        .alert-critical-logo: include ./img/icons/alert.svg
                        .alert-critical-text
                            .alert-critical-title Covid-19 Alert
                            .alert-critical-desc Due to the increase in COVID-19 cases in Somerset County, Raritan Public Library will be holding all events for the month of January virtually over #[a.link(href="https://zoom.us/") Zoom]. Please continue to check this page for updates pertaining to future events, or contact the Library by phone at #[b (908) 725-0413] or by email at #[a.link(href="mailto:raritanl@yahoo.com") raritanl@yahoo.com].
                    h2.h2-fo Programs
                    p.text.text-center To sign up for events, please use a provided sign-up form, or call us at #[b (908) 725-0413] during our open hours.
                    hr.hr
                    .programs
                .sidebar-right
                    include ./includes/contact.pug
                    include ./includes/hours.pug
            include ./includes/footer.pug