doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "Resources"
        - const desc = "Explore exclusive internet resources made available to patrons by the Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/ga.pug
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center
                    h1 Resources
                    p.text.spacer-plus Resources made available by the Raritan Public Library require a library card. If you are a library card holder, patron of the Library, or are looking to register for a library card, please #[a.link(href="/contact") contact us] for more information on how to access these resources.
                    hr.hr
                    - const ebsco = "https://search.ebscohost.com/login.aspx?authtype=ip,geo,cpid&geocustid=cjrlc085&custid=cjrlc085&profile="
                    - const ebscoAlt = `${ebsco}ehost&defaultdb=`
                    //- eBooks ////////////////////////////////////////////////
                    h2.spacer-plus.left#ebooks eBooks
                    +resource("Libby", "https://libbyapp.com", "libby")
                        p.text Use your Raritan Library Online Catalog login to access over 30,000 eBooks and eAudiobooks on #[a.link(href="https://libbyapp.com" target="_blank" rel="noopener") Libby] for free. Accessible from your browser, #[a.link(href="https://apps.apple.com/us/app/libby-by-overdrive/id1076402606" target="_blank" rel="noopener") phone], #[a.link(href="https://apps.apple.com/us/app/libby-by-overdrive/id1076402606" target="_blank" rel="noopener") tablet], or #[a.link(href="https://www.amazon.com/OverDrive-Inc-Libby-by/dp/B072K3231D" target="_blank" rel="noopener") Kindle device].
                    +resource("hoopla", "https://www.hoopladigital.com/", "hoopla")
                        p.text #[a.link(href="https://www.hoopladigital.com/" target="_blank" rel="noopener") hoopla] digital services include over 500,000 eBooks, Audiobooks, Movies, TV shows, CDs, Comics, and Graphic novels. Accessible from your browser or Smart device.
                        br
                        p.text #[b NEW for December 2021:] #[i Try #[b BingePass] to access a comprehensive 50-magazine catalog and the Great Courses Library Collection!]
                        br
                        p.comment.spacer-plus Please note our library is not part of the Somerset County Library system.
                    //- Databases /////////////////////////////////////////////
                    h2.spacer-plus.left#databases Databases
                    +resource("NoveList", `${ebsco}novelist`, "novelist")
                        p.text #[a.link(href=`${ebsco}novelist` target="_blank" rel="noopener") NoveList] is a comprehensive readers’ advisory solution for fiction lovers. With an intuitive interface and extensive proprietary content, NoveList answers the question: What should I read next?
                    +resource("NoveList K-8", `${ebsco}novelistk8`, "novelistk8")
                        p.text #[a.link(href=`${ebsco}novelistk8` target="_blank" rel="noopener") NoveList K-8] is your solution for integrating fiction across the curriculum. With a fun and intuitive interface, and extensive proprietary content, NoveList K-8 will be the resource you and your young readers turn to when looking for the next book to read.
                    //-+resource("Data Axle", "https://www.referenceusa.com/Static/TermsAndConditions/True/e491a21b-99f4-4f67-8f44-23b8fcced5f7", "dataaxle")
                        p.text #[a.link(href="https://www.referenceusa.com/Static/TermsAndConditions/True/e491a21b-99f4-4f67-8f44-23b8fcced5f7" target="_blank" rel="noopener") Data Axle] is a powerful online reference and research tool providing library cardholders instant, real-time access to accurate, in-depth information on U.S. businesses (59 million) and U.S. residents (310 million). Data Axle makes it faster and easier to find new business opportunities, research executives and companies, find news articles, conduct job searches, research papers, locate addresses and phone numbers, conduct market research and much more.
                    +resource("Literary Reference Center", `${ebsco}lrc`, "lrc")
                        p.text The #[a.link(href=`${ebsco}lrc` target="_blank" rel="noopener") Literary Reference Center] is a comprehensive database that provides users with a broad spectrum of information on thousands of authors and their works across literary disciplines and timeframes.
                    +resource("Points of View Reference Center", `${ebsco}pov`, "povrc")
                        p.text The #[a.link(href=`${ebsco}pov` target="_blank" rel="noopener") Points of View Reference Center] is a full-text database designed to provide students with a series of essays that present multiple sides of a current issue. The database provides 200 topics, each with an overview (objective background/description), point (argument) and counterpoint (opposing argument).
                    +resource("Legal Information Reference Center", `${ebsco}lirc`, "lirc", 3)
                        p.text Providing exclusive online full text for many of the top consumer legal reference books, the #[a.link(href=`${ebsco}lirc` target="_blank" rel="noopener") Legal Information Reference Center] contains more than 225 full-text publications and thousands of legal forms, with more content being added on a regular basis. A majority of the full-text legal reference books are provided through Nolo, the nation’s oldest and most-respected provider of legal information for consumers and small businesses.
                    +resource("HeritageQuest", "https://www.heritagequestonline.com/hqoweb/library/do/login/ipbarcode?aid=37019", "heritagequest", 1)
                        p.text.spacer-plus Discover your amazing  family history with #[a.link(href="https://www.heritagequestonline.com/hqoweb/library/do/login/ipbarcode?aid=37019" target="_blank" rel="noopener") HeritageQuest], powered by #[a.link(href="https://www.ancestry.com/" target="_blank" rel="noopener") Ancestry.com]. Access an essential collection of genealogical and historical sources with coverage dating back to the 1700s.
                    +resourceAlt("GreenFILE", `${ebscoAlt}8gh`)
                        p.text #[a.link(href=`${ebscoAlt}8gh` target="_blank" rel="noopener") GreenFILE] offers well-researched information covering all aspects of human impact to the environment. Its collection of scholarly, government and general-interest titles includes content on the environmental effects of individuals, corporations and local/national governments, and what can be done at each level to minimize these effects.
                    +resourceAlt("Health Source: Consumer Edition", `${ebscoAlt}hxh`)
                        p.text #[a.link(href=`${ebscoAlt}hxh` target="_blank" rel="noopener") Health Source: Consumer Edition] provides access to full-text consumer health magazines and reference books. It also includes searchable full text for current health pamphlets.
                    +resourceAlt("Image Collection", `${ebscoAlt}image`)
                        p.text The #[a.link(href=`${ebscoAlt}image` target="_blank" rel="noopener") Image Collection] database consists of more than 1 million total images consisting of a wide array of photos and maps, with an emphasis on world news and events. Other areas of coverage include contemporary and historical photos of people, places, and the natural kingdom.
                    +resourceAlt("LISTA", `${ebscoAlt}lxh`)
                        p.text #[a.link(href=`${ebscoAlt}lxh` target="_blank" rel="noopener") LISTA] (Library, Information Science & Technology Abstracts) indexes more than 560 core journals, nearly 50 priority journals, and nearly 125 selective journals; plus books, research reports and proceedings. Subject coverage includes librarianship, classification, cataloging, bibliometrics, online information retrieval, information management and more.
                    +resourceAlt("MasterFILE Elite", `${ebscoAlt}fth`)
                        p.text #[a.link(href=`${ebscoAlt}fth` target="_blank" rel="noopener") MasterFILE Elite] provides full text for magazines and publications covering many general interest topics including business, health, education, general science and multicultural issues. It also includes an image collection of more than 2 million photos, maps and flags.
                    +resourceAlt("MiddleSearch Plus", `${ebscoAlt}mih`)
                        p.text #[a.link(href=`${ebscoAlt}mih` target="_blank" rel="noopener") MiddleSearch Plus] contains full text for more than 150 popular, middle school magazines. In addition to the full text, this database offers indexing and abstracts for nearly 200 magazines. All full text articles are assigned a reading level indicator (Lexiles). Full text is also available for thousands of biographies, historical essays and student pamphlets.
                    +resourceAlt("Military & Government Collection", `${ebscoAlt}mth`)
                        p.text Designed to offer current news pertaining to all branches of the military and government, the #[a.link(href=`${ebscoAlt}mth` target="_blank" rel="noopener") Military & Government Collection] offers a thorough collection of periodicals, academic journals, and other content pertinent to the increasing needs of those sites. The Military & Government Collection provides cover-to-cover full text for nearly 300 journals and periodicals and indexing and abstracts for more than 400 titles.
                    +resourceAlt("Newspaper Source Plus", `${ebscoAlt}n5h`)
                        p.text #[a.link(href=`${ebscoAlt}n5h` target="_blank" rel="noopener") Newspaper Source Plus] provides a full-text digital collection of the world’s major news content. It includes millions of articles from newspapers, newswires and news magazines. In addition, it offers television and radio transcripts and ongoing daily updates from popular news sources.
                    +resourceAlt("Primary Search", `${ebscoAlt}prh`)
                        p.text #[a.link(href=`${ebscoAlt}prh` target="_blank" rel="noopener") Primary Search], designed specifically for elementary school libraries and public library children's rooms, contains full text for more than 60 popular, elementary school magazines.
                    +resourceAlt("Teacher Reference Center", `${ebscoAlt}trh`)
                        p.text The #[a.link(href=`${ebscoAlt}trh` target="_blank" rel="noopener") Teacher Reference Center] provides indexing and abstracts for hundreds of periodicals. In addition, 96% of journals indexed in TRC are peer-reviewed.
                        br
                    //- Employment /////////////////////////////////////////////
                    h2.spacer-plus.left#employment Employment
                    +resource("Job and Career Accelerator", "http://www.learningexpresshub.com/productengine/LELIndex.html#/center/jobandcareeraccelerator5/home?AuthToken=FD8AF424-DC9F-4D13-8936-7192651613B8", "jobs", 3)
                        p.text.spacer-plus Create resumes and cover letters, learn interviewing techniques, and prepare for related exams with the EBSCO LearningExpress #[a.link(href="http://www.learningexpresshub.com/productengine/LELIndex.html#/center/jobandcareeraccelerator5/home?AuthToken=FD8AF424-DC9F-4D13-8936-7192651613B8" target="_blank" rel="noopener") Job and Career Accelerator]. Access millions of job listings, internships, and more.
                    +resource("Small Business Reference Center", `${ebsco}sbrc`, "sbrc")
                        p.text The #[a.link(href=`${ebsco}sbrc` target="_blank" rel="noopener") Small Business Reference Center] is a comprehensive resource for small business owners and those interested in starting a business, offering full-text periodicals and reports, sample business plans, U.S. tax forms, videos and reference books. It supports small business owners in all relevant areas from planning, financing and managing a business to exit strategies. Users also have the ability to search within specific business topics and business types relevant to their needs.
                    +resourceAlt("Business Source Elite", `${ebscoAlt}bsh`)
                        p.text #[a.link(href=`${ebscoAlt}bsh` target="_blank" rel="noopener") Business Source Elite] provides full text for over 1,000 business publications. The rich collection of titles in Business Source Elite provides information dating back to 1985. More than 10,100 substantial company profiles from Datamonitor are also included, updated on a daily basis via EBSCOhost.
                    +resourceAlt("Regional Business News", `${ebscoAlt}bwh`)
                        p.text The #[a.link(href=`${ebscoAlt}bwh` target="_blank" rel="noopener") Regional Business News] database provides comprehensive full text coverage for regional business publications. Regional Business News incorporates coverage of 75 business journals, newspapers and newswires from all metropolitan and rural areas within the United States.
                        br
                    //- Language //////////////////////////////////////////////
                    h2.spacer-plus.left#language Language
                    +resource("Mango Languages", `https://raritan.aspendiscovery.org/mango/man00000100/AccessOnline?index=0`, "mango")
                        p.text #[a.link(href=`https://raritan.aspendiscovery.org/mango/man00000100/AccessOnline?index=0` target="_blank" rel="noopener") Mango Languages] is an online language and culture learning resource that offers access to over 70 foreign languages and 21 English courses taught completely in the user's native language. In addition to traditional language courses, Mango also offers the opportunity to learn through foreign film with Mango Premiere™ and access to a variety of specialty mini courses, like Pirate, Medical Spanish, and romance courses.
                        br
                    +resource("Referencia Latina", `${ebsco}slrc`, "slrc")
                        p.text #[a.link(href=`${ebsco}slrc` target="_blank" rel="noopener") Referencia Latina] a comprehensive Spanish-language database, offers content from a variety of sources including 49,000 encyclopedia entries.
                        br
                    //- Education /////////////////////////////////////////////
                    h2.spacer-plus.left#education Education
                    +resourceTrack("ABCMouse.com", "https://www.abcmouse.com", "abcmouse", 2)
                        p.text #[a.link(href="https://www.abcmouse.com" target="_blank") ABCmouse.com] is an award winning learning academy, helping children ages 2 through 7 learn to learn lessons in phonics, math, social studies, art, music, and much more. If you are interested in logging on to ABC Mouse at the library, please ask at the circulation desk or the Children's Librarian to assist you.
                    +resourceAlt("Academic Search Premier", `${ebscoAlt}aph`)
                        p.text #[a.link(href=`${ebscoAlt}aph` target="_blank" rel="noopener") Academic Search Premier] contains over 1000 journals on a host of subject matters and 75,000 videos from the Associated Press going back over 90 years.
                    +resourceAlt("ERIC", `${ebscoAlt}eric`)
                        p.text #[a.link(href=`${ebscoAlt}eric` target="_blank" rel="noopener") ERIC], the Educational Resource Information Center, is a national information system supported by the U.S. Department of Education, the National Library of Education, and the Office of Educational Research and Improvement. It provides access to information from journals included in the Current Index of Journals in Education and Resources in Education Index.
                    +resourceAlt("Health Source: Nursing/Academic Edition", `${ebscoAlt}hch`)
                        p.text #[a.link(href=`${ebscoAlt}hch` target="_blank" rel="noopener") Health Source: Nursing/Academic Edition] is a trusted full-text database covering nursing and allied health topics, including pediatric nursing, critical care, mental health, nursing management, medical law and more.
                    +resourceAlt("Peterson's Test and Career Prep", `https://galesupport.com/njgeo`)
                        p.text Use #[a.link(href=`https://galesupport.com/njgeo` target="_blank" rel="noopener") Peterson's Test and Career Prep] to search thousands of college and graduate schools, identify scholarships, take practice tests, create resumes, and explore careers.
                        br
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug