doctype html
html(lang="en" color-mode="lite")
    head
        - const title = "Resources"
        - const desc = "Explore exclusive internet resources made available to patrons by the Raritan Public Library."
        include ./includes/_head.pug
    body
        include ./includes/access.pug
        div.body
            include ./includes/header.pug
            main.main
                .sidebar-left
                    include ./includes/sidebar-left.pug
                .center
                    h1 Resources
                    p.text.spacer-plus Resources made available by the Raritan Public Library require a library card. If you are a library card holder, patron of the Library, or are looking to register for a library card, please #[a.link(href="/contact") contact us] for more information on how to access these resources.
                    hr.hr
                    - const ebsco = "https://search.ebscohost.com/login.aspx?authtype=ip,geo,cpid&geocustid=cjrlc085&custid=cjrlc085&profile="
                    //- eBooks ////////////////////////////////////////////////
                    h2.spacer-plus.left#ebooks eBooks
                    +resource("cloudLibrary", "https://ebook.yourcloudlibrary.com/library/raritanpl/Featured", "cloudlibrary", 3)
                        p.text The #[a.link(href="https://ebook.yourcloudlibrary.com/library/raritanpl/Featured" target="_blank" rel="noopener") cloudLibrary] book service includes all of the books available in our current eBook collection, new ones purchased directly for our own Cloud Library, and existing eBooks inventories from various libraries throughout New Jersey. Check out up to 5 titles, and keep them all for up to 21 days!
                    +resource("hoopla", "https://www.hoopladigital.com/", "hoopla")
                        p.text #[a.link(href="https://www.hoopladigital.com/" target="_blank" rel="noopener") hoopla] digital services include over 500,000 eBooks, Audiobooks, Movies, TV shows, CDs, Comics, and Graphic novels. Accessible from your browser or Smart device.
                        br
                        p.text #[b NEW for December 2021:] #[i Try #[b BingePass] to access a comprehensive 50-magazine catalog and the Great Courses Library Collection!]
                        br
                        p.comment.spacer-plus Please note our library is not part of the Somerset County Library system.
                    +resource("Axis360", "https://raritan.axis360.baker-taylor.com/", "axis")
                        p.text Use your Raritan Library Online Catalog login to access over 1,500 eBooks and eAudiobooks on #[a.link(href="https://raritan.axis360.baker-taylor.com/" target="_blank" rel="noopener") Axis 360] for free. Accessible from your browser, #[a.link(href="https://apps.apple.com/us/app/axis-360/id903001147" target="_blank" rel="noopener") phone], #[a.link(href="https://apps.apple.com/us/app/axis-360/id903001147" target="_blank" rel="noopener") tablet], or #[a.link(href="https://www.amazon.com/Baker-Taylor-Inc-Axis-360/dp/B00N59G3ZE" target="_blank" rel="noopener") Kindle device].
                        br
                        p.comment.spacer-plus This service is made possible through the Coronavirus Aid, Relief, and Economic Security (CARES) Act and will be available until October 14th, 2023.
                        br
                    //- Databases /////////////////////////////////////////////
                    h2.spacer-plus.left#databases Databases
                    +resource("NoveList", `${ebsco}novelist`, "novelist")
                        p.text #[a.link(href=`${ebsco}novelist` target="_blank" rel="noopener") NoveList] is a comprehensive readers’ advisory solution for fiction lovers. With an intuitive interface and extensive proprietary content, NoveList answers the question: What should I read next?
                    +resource("NoveList K-8", `${ebsco}novelistk8`, "novelistk8")
                        p.text #[a.link(href=`${ebsco}novelistk8` target="_blank" rel="noopener") NoveList K-8] is your solution for integrating fiction across the curriculum. With a fun and intuitive interface, and extensive proprietary content, NoveList K-8 will be the resource you and your young readers turn to when looking for the next book to read.
                    //-+resource("Data Axle", "https://www.referenceusa.com/Static/TermsAndConditions/True/e491a21b-99f4-4f67-8f44-23b8fcced5f7", "dataaxle")
                        p.text #[a.link(href="https://www.referenceusa.com/Static/TermsAndConditions/True/e491a21b-99f4-4f67-8f44-23b8fcced5f7" target="_blank" rel="noopener") Data Axle] is a powerful online reference and research tool providing library cardholders instant, real-time access to accurate, in-depth information on U.S. businesses (59 million) and U.S. residents (310 million). Data Axle makes it faster and easier to find new business opportunities, research executives and companies, find news articles, conduct job searches, research papers, locate addresses and phone numbers, conduct market research and much more.
                    +resource("Literary Reference Center", `${ebsco}lrc`, "lrc")
                        p.text The #[a.link(href=`${ebsco}lrc` target="_blank" rel="noopener") Literary Reference Center] is a comprehensive database that provides users with a broad spectrum of information on thousands of authors and their works across literary disciplines and timeframes.
                    +resource("Points of View Reference Center", `${ebsco}pov`, "povrc")
                        p.text The #[a.link(href=`${ebsco}pov` target="_blank" rel="noopener") Points of View Reference Center] is a full-text database designed to provide students with a series of essays that present multiple sides of a current issue. The database provides 200 topics, each with an overview (objective background/description), point (argument) and counterpoint (opposing argument).
                    +resource("Legal Information Reference Center", `${ebsco}lirc`, "lirc", 3)
                        p.text Providing exclusive online full text for many of the top consumer legal reference books, the #[a.link(href=`${ebsco}lirc` target="_blank" rel="noopener") Legal Information Reference Center] contains more than 225 full-text publications and thousands of legal forms, with more content being added on a regular basis. A majority of the full-text legal reference books are provided through Nolo, the nation’s oldest and most-respected provider of legal information for consumers and small businesses.
                    +resource("EBSCOhost", `${ebsco}ehost`, "ebsco", 3)
                        p.text Visit #[a.link(href=`${ebsco}ehost` target="_blank" rel="noopener") EBSCOhost] and discover thousands of nonfiction articles and eBooks in the #[a.link(href="https://www.njstatelib.org/" target="_blank" rel="noopener") New Jersey State Library's] collection. Get a jumpstart on research and personal projects using curated references, reports, journals, and more!
                    +resource("HeritageQuest", "https://www.heritagequestonline.com/ipbarcode?aid=25703", "heritagequest", 1)
                        p.text.spacer-plus Discover your amazing  family history with #[a.link(href="https://www.heritagequestonline.com/ipbarcode?aid=25703" target="_blank" rel="noopener") HeritageQuest], powered by #[a.link(href="https://www.ancestry.com/" target="_blank" rel="noopener") Ancestry.com]. Access an essential collection of genealogical and historical sources with coverage dating back to the 1700s.
                        br
                    //- Employment /////////////////////////////////////////////
                    h2.spacer-plus.left#employment Employment
                    +resource("Job and Career Accelerator", "http://www.learningexpresshub.com/productengine/LELIndex.html#/center/jobandcareeraccelerator5/home?AuthToken=FD8AF424-DC9F-4D13-8936-7192651613B8", "jobs", 3)
                        p.text.spacer-plus Create resumes and cover letters, learn interviewing techniques, and prepare for related exams with the EBSCO LearningExpress #[a.link(href="http://www.learningexpresshub.com/productengine/LELIndex.html#/center/jobandcareeraccelerator5/home?AuthToken=FD8AF424-DC9F-4D13-8936-7192651613B8" target="_blank" rel="noopener") Job and Career Accelerator]. Access millions of job listings, internships, and more.
                    +resource("Small Business Reference Center", `${ebsco}sbrc`, "sbrc")
                        p.text The #[a.link(href=`${ebsco}sbrc` target="_blank" rel="noopener") Small Business Reference Center] is a comprehensive resource for small business owners and those interested in starting a business, offering full-text periodicals and reports, sample business plans, U.S. tax forms, videos and reference books. It supports small business owners in all relevant areas from planning, financing and managing a business to exit strategies. Users also have the ability to search within specific business topics and business types relevant to their needs.
                        br
                    //- Language //////////////////////////////////////////////
                    h2.spacer-plus.left#language Language
                    +resource("Pronunciator", "http://learning.pronunciator.com/getstarted.php?library_id=7904", "pronunciator", 3)
                        p.text #[a.link(href="http://learning.pronunciator.com/getstarted.php?library_id=7904" target="_blank" rel="noopener") Pronunciator] is an online language-learning system free to our library patrons. With 80 of the world's most popular languages and ESL courses in 50 languages, it focuses on quickly building conversational skills through a suite of interactive content. Accessible from your #[a.link(href="http://learning.pronunciator.com/getstarted.php?library_id=7904" target="_blank" rel="noopener") browser], #[a.link(href="http://learning.pronunciator.com/getstarted.php?library_id=7904" target="_blank" rel="noopener") phone], or #[a.link(href="http://learning.pronunciator.com/getstarted.php?library_id=7904" target="_blank" rel="noopener") tablet].
                    +resource("Rosetta Stone", "https://search.ebscohost.com/login.aspx?authtype=cpid&custid=s8971388", "rosettastone")
                        p.text The popular #[a.link(href="https://search.ebscohost.com/login.aspx?authtype=cpid&custid=s8971388" target="_blank" rel="noopener") Rosetta Stone] language learning software is available free for all library card holders.
                    //- Education /////////////////////////////////////////////
                    h2.spacer-plus.left#education Education
                    +resource("Brainfuse", "https://landing.brainfuse.com/authenticate.asp?u=main.raritan.hn.nj.brainfuse.com", "brainfuse")
                        p.text #[a.link(href="https://landing.brainfuse.com/authenticate.asp?u=main.raritan.hn.nj.brainfuse.com" target="_blank" rel="noopener") Brainfuse] is a web-based tutoring service for children of all ages. Live tutoring engages patrons through online homework help, writing lab assistance, test prep and more.
                        br
                        p.text  #[b NEW for August 2021:] #[i Access is now available to HelpNow, JobNow, VetNow, and LearnNow&ndash; curated services to help patrons of all ages learn new topics and build skills.]
                        br
                        p.comment.spacer-plus This service is made possible through the American Rescue Plan Act (ARPA) and will be available until June 30th, 2022.
                    +resource("ABCMouse.com", "https://www.abcmouse.com", "abcmouse", 2)
                        p.text.spacer-plus #[a.link(href="https://www.abcmouse.com" target="_blank" rel="noopener") ABCmouse.com] is an award winning learning academy, helping children ages 2 through 7 learn to learn lessons in phonics, math, social studies, art, music, and much more. If you are interested in logging on to ABC Mouse at the library, please ask at the circulation desk or the Children's Librarian to assist you.
                        br
                .sidebar-right
                    include ./includes/sidebar-right.pug
            include ./includes/footer.pug